{% extends 'base.html' %}
{% load static %}
{% block title %}About Us - LocaAi{% endblock %}

{% block content %}

  <main class="main">
      <!-- Page Title -->
      <div class="page-title">
        <div class="heading">
          <div class="container">
            <div class="row d-flex justify-content-center text-center">
              <div class="col-lg-8">
                <h1>Ubout Us</h1>
                <p class="mb-0">성공을 위한 비즈니스 동반자 Team Loca</p>
              </div>
            </div>
          </div>
        </div>

<!-- About Section -->
    <section id="about" class="about section">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h3>Who We Are</h3>
              <h2 data-lang="KOR">감에 의존한 창업, 이제는 그만.</h2>
              <h2 data-lang="ENG">No More Guesswork in Starting a Business.</h2>
              <h2 data-lang="ESP">No más emprendimientos basados en la intuición.</h2>
              <p data-lang="KOR">
                우리는 창업자에게 빅데이터를 통해 말하는 상권 분석 레포트를 제공합니다. <br> 
                경쟁률, 유사 업종 분포, 생존률 예측까지, 창업자와 함께 고민해주는 동반자가 우리의 목표입니다.
              </p>
              <p data-lang="ENG">
                We offer data-driven market insights for entrepreneurs. <br>
                From competition analysis to business distribution and survival rate predictions, we're your trusted partner in starting smart.
              </p>
              <p data-lang="ESP">
                Proporcionamos a los emprendedores informes de análisis comercial basados en big data. <br> 
                Desde el nivel de competencia, la distribución de negocios similares hasta la predicción de la tasa de supervivencia, nuestro objetivo es ser un compañero que comparta sus preocupaciones y los apoye en su camino.
              </p>
              <div class="text-center text-lg-start">
                <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                  <span>Read More</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid" alt="">
          </div>

        </div>
      </div>

    </section><!-- /About Section -->

<!-- Team Section -->
    <section id="team" class="team section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Team</h2>
        <p>Our hard working team</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <div class="member-img">
                <img src="{% static 'assets/img/team/team-1.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>JinHo Yoon</h4>
                <span>
                  <span data-lang="KOR">기획 · 개발 총괄</span>
                  <span data-lang="ENG">Head of Planning & Development</span>
                  <span data-lang="ESP">Director de Planificación y Desarrollo</span>
                </span>
                <p>
                  <span data-lang="KOR">데이터와 AI로 창업을 돕는 팀</span>
                  <span data-lang="ENG">A team that supports startups with data and AI</span>
                  <span data-lang="ESP">Un equipo que apoya a emprendedores con datos e IA</span>
                </p>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member">
              <div class="member-img">
                <img src="{% static 'assets/img/team/team-2.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>SangHwa Shin</h4>
                <span>
                  <span data-lang="KOR">모델 설계</span>
                  <span data-lang="ENG">Model Architect</span>
                  <span data-lang="ESP">Diseñador de Modelos</span>
                </span>
                <p>
                  <span data-lang="KOR">AI 모델링</span>
                  <span data-lang="ENG">AI Modeling</span>
                  <span data-lang="ESP">Modelado de IA</span>
                </p>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member">
              <div class="member-img">
                <img src="{% static 'assets/img/team/team-3.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>SoHee Kim</h4>
                <span>
                  <span data-lang="KOR">프론트엔드팀</span>
                  <span data-lang="ENG">Frontend Team</span>
                  <span data-lang="ESP">Equipo Frontend</span>
                </span>
                <p>
                  <span data-lang="KOR">UI/UX</span>
                  <span data-lang="ENG">UI/UX</span>
                  <span data-lang="ESP">UI/UX</span>
                </p>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="team-member">
              <div class="member-img">
                <img src="{% static 'assets/img/team/team-4.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>MinKyou Choi</h4>
                <span>
                  <span data-lang="KOR">프론트엔드팀</span>
                  <span data-lang="ENG">Frontend Team</span>
                  <span data-lang="ESP">Equipo Frontend</span>
                </span>
                <p>
                  <span data-lang="KOR">UI/UX</span>
                  <span data-lang="ENG">UI/UX</span>
                  <span data-lang="ESP">UI/UX</span>
                </p>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>

    </section><!-- /Team Section -->

{% endblock %}