{% load static %}
<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center">

    <a href="{% url 'index' %}" class="logo d-flex align-items-center me-auto">
      <img src="{% static 'assets/img/logo.png' %}" alt="">
      <h1 class="sitename">Loca Ai</h1>
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="/#hero" class="active">Home</a></li>
        <li><a href="/#about">About</a></li>
        <li><a href="{% url 'blog' %}">Blog</a></li>
        <li><a href="#">Data</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="/#contact">Contact Us</a></li>
        <li class="dropdown"><a href="#"><span>Surpport</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
          <ul>
            <li><a href="#">guide book</a></li>
            <li><a href="#">notice</a></li>
            <li><a href="#">customer board</a></li>
          </ul>
        </li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    {% if request.user.is_authenticated %}
      <!-- 로그인한 경우 -->
       <form method="post" action="{% url 'logout' %}" style="display:inline;">
         {% csrf_token %}
         <button type="submit"
        class="btn-getstarted flex-md-shrink-0 border-0 outline-none focus:outline-none focus:ring-0 bg-blue-500 text-white px-4 py-2 rounded">Logout</button>
       </form>
    {% else %}
     <!-- 비로그인한 경우 -->
      <a class="btn-getstarted flex-md-shrink-0" href="{% url 'login' %}">Get Started</a>
    {% endif %}

  </div>
</header>
