{% load static %}
<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center">

    <a href="{% url 'index' %}" class="logo d-flex align-items-center me-auto">
      <img src="{% static 'assets/img/logo.png' %}" alt="">
      <h1 class="sitename">Loca Ai</h1>
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="{% url 'index' %}" class="active">Home</a></li>
        <li><a href="/#about">About</a></li>
        <li><a href="{% url 'AI_Analyzer:analyze_page' %}">Services</a></li>
        <li><a href="{% url 'shopdash:dashboard' %}">Data</a></li>
        <li><a href="{% url 'border:portfolio_list' %}">Portfolio</a></li>
        <li><a href="/#contact">Contact Us</a></li>
        <li class="dropdown"><a href="javascript:void(0);" onclick="event.preventDefault(); event.stopPropagation(); toggleDropdown(this);"><span>Support</span><i class="bi bi-chevron-down toggle-dropdown"></i></a>
          <ul>
            <li><a href="{% url 'guidebook' %}">guide book</a></li>
            <li><a href="{% url 'border:notice_list' %}">notice</a></li>
            <li><a href="{% url 'border:inquiry_list' %}">customer board</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="javascript:void(0);" onclick="event.preventDefault(); event.stopPropagation(); toggleDropdown(this);"><span>Language</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
          <ul> 
            <li><a href="#" onclick="setSelectedLangValue('KOR'); return false;">🇰🇷 한국어</a></li>
            <li><a href="#" onclick="setSelectedLangValue('ENG'); return false;">🇺🇸 영어</a></li>
            <li><a href="#" onclick="setSelectedLangValue('ESP'); return false;">🇪🇸 스페인어</a></li>
          </ul>
        </li>
      </ul>
      
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    {% if request.user.is_authenticated %}
      <!-- 로그인한 경우 -->
      <a class="btn-getstarted flex-md-shrink-0" href="{% url 'custom_auth:logout' %}">Logout</a>
    {% else %}
     <!-- 비로그인한 경우 -->
      <a class="btn-getstarted flex-md-shrink-0" href="{% url 'custom_auth:login' %}?next={{ request.path }}">Get Started</a>
    {% endif %}

  </div>
  
<script>
  function toggleDropdown(element) {
    const parent = element.closest('li.dropdown');
    parent.classList.toggle('open');
  }
</script>
</header>
