{% load static %}
<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center">

    <a href="{% url 'index' %}" class="logo d-flex align-items-center me-auto">
      <img src="{% static 'assets/img/logo.png' %}" alt="">
      <h1 class="sitename">Loca Ai</h1>
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="{% url 'index' %}" class="active">Home</a></li>
        <li><a href="/#about">About</a></li>
        <li><a href="{% url 'AI_Analyzer:analyze_page' %}">Services</a></li>
        <li><a href="{% url 'shopdash:dashboard' %}">Data</a></li>
        <li><a href="{% url 'border:portfolio_list' %}">Portfolio</a></li>
        <li><a href="/#contact">Contact Us</a></li>
        <li class="dropdown"><span>Support</span> <i class="bi bi-chevron-down toggle-dropdown"></i>
          <ul>
            <li><a href="#">guide book</a></li>
            <li><a href="{% url 'border:notice_list' %}">notice</a></li>
            <li><a href="{% url 'border:inquiry_list' %}">customer board</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#"><span>Language</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
          <ul> 
            <li><a href="#" onclick="setSelectedLangValue('KOR'); return false;">🇰🇷 한국어</a></li>
            <li><a href="#" onclick="setSelectedLangValue('ENG'); return false;">🇺🇸 영어</a></li>
            <li><a href="#" onclick="setSelectedLangValue('ESP'); return false;">🇪🇸 스페인어</a></li>
          </ul>
        </li>
      </ul>
      
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    {% if request.user.is_authenticated %}
      <!-- 로그인한 경우 -->
      <a class="btn-getstarted flex-md-shrink-0" href="{% url 'custom_auth:logout' %}">Logout</a>
    {% else %}
     <!-- 비로그인한 경우 -->
      <a class="btn-getstarted flex-md-shrink-0" href="{% url 'custom_auth:login' %}?next={{ request.path }}">Get Started</a>
    {% endif %}

  </div>

  <script>
    const sessionLang = "{{ request.session.language|default:'KOR' }}";

		$(window).ready(function() {
		  funcChangeLang(sessionLang);
		})
    
    // 선택한 언어를 세션에 저장하는 function
    function setSelectedLangValue(lang) {
      $.ajax({
        type: 'POST',
        url: '/set-lang/',
        data: {
          "lang": lang
        },
        headers: {
          'X-CSRFToken': getCSRFToken()   // 토큰추가
        },
        success: function(res) {
          funcChangeLang(lang);         // UI 전환
          console.log(res.code, res.message, 'session lang changed to', lang)
        },
        error: function(xhr, status, error) {
          console.log('session lang change error', lang)
        }
      });
    }

    // 언어 변경 함수
    function funcChangeLang(lang) {
      console.log("funcChangeLang 실행됨:", lang); // 콘솔에 출력 확인
			$('[data-lang]').hide();
			$('[data-lang="'+lang+'"]').show();
		}
        
    // CSRF 토큰을 가져오는 function
    function getCSRFToken() {
      return document.querySelector('meta[name="csrf-token"]').getAttribute('content');
    }
  </script>

</header>
